include LICENSE
include README.md
include requirements.txt
include pytest.ini
recursive-include contact_form/static *
recursive-include contact_form/templates *
recursive-include contact_form/locale *
